@import "./variables";
@import "./_custom-table";
@import "./_mixins";
@import "./_slider";
@import "./_sale";
@import "./custom.scss";

.custom-form-control,
.custom-btn {
    /* تنسيقات زر اختر فئة في الناف بار */
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    font-size: 14px;
    transition: 0.3s all ease;
    padding: 6px 16px 7px 16px;
    color: #868686;
}

.custom-navbar .container .custom-form-control:focus {
    /* تغيير لون الاطار الازرق في صندوق البحث عند التركيز عليه */
    border-color: $btn-danger-color-dark;
    box-shadow: 0 0 2px 0 $btn-danger-color-dark;
}

.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: $btn-primary-color-dark;
}

.custom-btn-primary {
    @include button-style($brand-primary);
}

.custom-btn-primary2 {
    color: #000;
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
        border-color: $btn-primary-color-dark;
        background-color: $btn-primary-color-dark;
        color: #000;
    }
}

.custom-btn-danger {
    @include button-style($brand-danger);
}