$main-color: #B80000;
$gray-color: #B1AEAE;
$black-color: #000;
$white-color: #fff;
$light-gray-color: #f0f0f0;



$xs: "(max-width:575px)";
$sm: "(max-width:768px)";
$md: "(max-width:992px)";
$large: "(max-width:1200px)";
$X-large: "(max-width:1400px)";