$space-unit: 16px; // حجم وحدة المساحة


$layout-sidebar: 277px;

$bp-phone-normal: 380px; // الوحدة التي بدأنا بالتعديل عندها على المكونات مبدأيت مثل مكون ال banner

$bp-tablet-small: 690px;

$bp-layout-normal: 768px;

$bp-sidebar: $bp-layout-normal;

$bp-desktop-small: 1024px;