@font-face {
    font-family: "Jana LT";
    src: local("Jana LT"), url('/src/assets/fonts/janna.woff') format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Jana LT";
    src: local("Jana LT"), url('/src/assets/fonts/janna-bold.woff') format("woff");
    font-weight: bold;
}

$family-heading: "Jana LT", "Helvetica Neue", "Segoe UI", sana-serif;
$family-content: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Geeza pro","Segoe UI", Roboto, Oxygen-Sans, Ubuntu, sans-serif;